<style>
    .AnchoredLayout {
        position: absolute;
    }
</style>
<div class="AnchoredLayout" style="
    {{#if isleft}}left{{else}}right{{/if}}:{{dx}}px;
    {{#if istop}}top{{else}}bottom{{/if}}:{{dy}}px;
">
</div>
